//base styles for web layout elements

.wrapper{
  @include padding-linear(2%);
  width:$wholeweb;
}
nav{
  @include padding-linear(2%);
  width:$wholeweb;
}
.main-container-content{
  @include padding-linear(5%);
  width:$respweb;
  float: left;
}
footer{
  @include padding-linear(2%);
  width:$wholeweb;
  position: relative;
  bottom:0;
  float: left;
}

body {
  margin: 0;
  padding: 0;
}