//typogracifal mixins & styles

//fonts
@mixin worksans(){
  font-family: 'Work Sans', sans-serif;
}
@mixin roboto(){
  font-family: 'Roboto', sans-serif;
}

body{
  @include worksans;
}

h1,h2,h3,h4,h5,h6{
  @include roboto;
}

a{
  color: darkgoldenrod;

  &:hover{
    color: gold;
  }
}