//desktop styles for navigation

  nav {
    background-position-y: 53.5rem;
    .wrapper{
      @include padding-linear(0);
    }
    ul {
      flex-direction:row;
    }
    li{
      margin-right: 1rem;
    }
  }
