//base styles for navigation

nav{
  border-bottom: 1px solid white;
  background-image: url("../images/main-bg-new.png");
  background-position: center;
  background-position-y: 61rem;
  a{
    @include rest_a;
    color: $header_main_white;
    font-size: 1.3rem;
    transition: color 1s;

    &:hover{
     color:gold;
    }
    &:hover nav li{
      border-bottom:1px solid $header_main_white;
    }
  }
  ul{
    @include padding-linear(0);
    @include margin-linear(0);
    display: flex;
    flex-direction: column;
  }
  li{
    @include rest_li;
    @include margin-top_and_bottom(0.5rem,0.5rem);
    text-align: center;
  }
  .active-page{
    border-bottom: 1px solid $header_main_white;
  }
  .wrapper{
    padding-bottom: 0;
  }

}

.homepage nav{
  background: transparent;
}