body {
  font-family: 'Work Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif; }

a {
  color: darkgoldenrod; }
  a:hover {
    color: gold; }

.wrapper {
  padding: 2%;
  width: 96%; }

nav {
  padding: 2%;
  width: 96%; }

.main-container-content {
  padding: 5%;
  width: 90%;
  float: left; }

footer {
  padding: 2%;
  width: 96%;
  position: relative;
  bottom: 0;
  float: left; }

body {
  margin: 0;
  padding: 0; }

footer {
  background: #2d2d2d;
  color: #fff; }

nav {
  border-bottom: 1px solid white;
  background-image: url("../images/main-bg-new.png");
  background-position: center;
  background-position-y: 61rem; }
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    transition: color 1s; }
    nav a:hover {
      color: gold; }
    nav a:hover nav li {
      border-bottom: 1px solid #fff; }
  nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; }
  nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0.5rem 0 0.5rem 0;
    text-align: center; }
  nav .active-page {
    border-bottom: 1px solid #fff; }
  nav .wrapper {
    padding-bottom: 0; }

.homepage nav {
  background: transparent; }

.skills {
  display: flex;
  align-items: flex-end;
  flex-direction: column; }
  .skills .skill {
    margin: auto;
    text-align: center;
    width: 50%;
    margin-bottom: 2rem; }
    .skills .skill img {
      width: 75%;
      text-align: center; }
  .skills .description {
    display: block; }

.edu-ul li {
  margin-bottom: 0.8rem; }

.table-references {
  width: 100%;
  overflow-x: scroll; }
  .table-references table {
    width: 100%; }
  .table-references tr {
    width: 100%;
    border-bottom: 1px solid slategrey; }
    .table-references tr:first-of-type td {
      border-bottom: 1px solid slategrey;
      font-weight: bold; }
  .table-references td {
    padding-right: 1rem; }

.personal-img {
  margin-top: 1rem;
  width: 100%; }

.contacts-cont {
  display: flex; }

.contacts {
  width: 13rem;
  height: 13rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1rem; }

.fb {
  background-image: url("../images/fb.png"); }

.lnkd {
  background-image: url("../images/linked.png"); }

.btbckt {
  background-image: url("../images/bitbucket.png"); }

.btn {
  text-decoration: none;
  padding: 2%;
  width: 90%;
  background-color: gold;
  color: black;
  font-weight: bold;
  display: block;
  margin-top: 2rem;
  text-align: center;
  transition: color 2s;
  transition: background 2s; }
  .btn:hover {
    background-color: #2d2d2d;
    color: #fff; }

.homepage-main-container {
  height: 100vh;
  min-height: 21.875rem;
  max-height: 67.500rem;
  background-image: url("../images/main-bg-new-mobile.png");
  background-size: cover;
  background-position: center; }

.welcomer-fe {
  font-family: 'Roboto', sans-serif;
  text-align: center; }
  .welcomer-fe a {
    text-decoration: none;
    color: #fff;
    transition: color 1.5s; }
    .welcomer-fe a:hover {
      color: gold; }
  .welcomer-fe a:first-of-type {
    text-transform: uppercase;
    font-size: 2.8rem;
    display: block; }

@media screen and (min-width: 1005px) {
  nav {
    background-position-y: 53.5rem; }
    nav .wrapper {
      padding: 0; }
    nav ul {
      flex-direction: row; }
    nav li {
      margin-right: 1rem; }

  .welcomer-fe {
    margin-top: 10rem;
    line-height: 3.5rem; }
    .welcomer-fe a:first-of-type {
      text-transform: uppercase;
      font-size: 4.8rem; }
    .welcomer-fe a:last-of-type {
      font-size: 3rem; }

  .main-container-content {
    padding: 2%;
    margin: auto;
    width: 62.750rem;
    float: none;
    min-height: 30rem; }

  .btn {
    width: 40%;
    margin: auto;
    margin-top: 3rem; } }
@media screen and (min-width: 460px) {
  .homepage-main-container {
    background-image: url("../images/main-bg-new.png"); }

  .skills {
    flex-direction: row; }
    .skills .skill {
      width: 20%; }

  .main-container-content img {
    margin-bottom: 0.5rem; }

  .other-skills {
    float: left;
    margin-bottom: 2rem; }
    .other-skills ul {
      margin: 0 0.5rem 0 1rem; }

  .personal-texts {
    width: 50%;
    float: left; }

  .personal-img {
    width: 47%;
    float: right; } }
@media print {
  img {
    width: 100px !important; }

  .edu-ul {
    margin-bottom: 2rem; } }

/*# sourceMappingURL=base.css.map */
