body {
  font-family: 'Work Sans', sans-serif; }

.wrapper {
  padding: 2%;
  width: 96%; }

nav {
  padding: 2%;
  width: 96%; }

nav {
  border-bottom: 1px solid white;
  background-image: url("../images/main-bg-new-mobile.png"); }
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    transition: color 1s; }
    nav a:hover {
      color: gold; }
    nav a:hover nav li {
      border-bottom: 1px solid #fff; }
  nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; }
  nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0.5rem 0 0.5rem 0;
    text-align: center; }
  nav .active-page {
    border-bottom: 1px solid #fff; }
  nav .wrapper {
    padding-bottom: 0; }

.homepage nav {
  background: transparent; }

.homepage-main-container {
  height: 100vh;
  min-height: 21.875rem;
  max-height: 67.500rem;
  background-image: url("../images/main-bg-new-mobile.png");
  background-size: cover;
  background-position: center; }

.welcomer-fe {
  font-family: 'Roboto', sans-serif;
  text-align: center; }
  .welcomer-fe a {
    text-decoration: none;
    color: #fff; }
  .welcomer-fe a:first-of-type {
    text-transform: uppercase;
    font-size: 2.8rem; }

body {
  margin: 0;
  padding: 0; }

@media screen and (min-width: 960px) and (min-width: 960px) {
  nav .wrapper {
    padding: 0; }
  nav ul {
    flex-direction: row; }
  nav li {
    margin-right: 1rem; } }
@media screen and (min-width: 960px) {
  .welcomer-fe {
    margin-top: 8rem; }
    .welcomer-fe a:first-of-type {
      text-transform: uppercase;
      font-size: 4.8rem; }
    .welcomer-fe a:last-of-type {
      font-size: 3rem; } }
@media screen and (min-width: 460px) and (min-width: 460px) {
  .homepage-main-container {
    background-image: url("../images/main-bg-new.png"); } }

/*# sourceMappingURL=main.css.map */
