//base styles for homepage

.homepage{
  nav{

  }

  &-main-container{
    height: 100vh;
    min-height: 21.875rem;
    max-height: 67.500rem;
    background-image: url("../images/main-bg-new-mobile.png");
    background-size: cover;
    background-position: center;
  }
}
.welcomer-fe{
  @include roboto;
  text-align: center;
  a{
    @include rest_a;
    color: $header_main_white;
    transition: color 1.5s;
    &:hover{
      color:gold;
    }
  }
  a:first-of-type{
    @include uppercase;
    font-size: 2.8rem;
    display: block;
  }
}