//basic styles for main containers

.main-container-content{


}

.skills{
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  .skill{
    margin: auto;
    text-align: center;
    width: 50%;
    margin-bottom: 2rem;


    img{
      width: 75%;
      text-align: center;
    }

  }
  .description{
    display: block;
  }
}
.edu-ul{
  li{
    margin-bottom: 0.8rem;
  }
}

.table-references{
  width: 100%;
  overflow-x: scroll;

  table{
    width: 100%;
  }
  tr{
    &:first-of-type{
      td{
        border-bottom: 1px solid slategrey;
        font-weight: bold;
      }
    }
    width: 100%;
    border-bottom: 1px solid slategrey;
  }
  td{
    padding-right: 1rem;
  }
}

.personal-img{
  margin-top: 1rem;
  width: 100%;
}

.contacts-cont{
  display: flex;
}
.contacts{
  width: 13rem;
  height: 13rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1rem;
}
.fb{
  background-image: url("../images/fb.png");
}
.lnkd{
  background-image: url("../images/linked.png");
}
.btbckt{
  background-image: url("../images/bitbucket.png");
}