//tablet styles for main containers

.skills{
  flex-direction: row;

  .skill{
    width: 20%;
  }
}
.main-container-content {

  img {
    margin-bottom: 0.5rem;
  }
}
.other-skills{
  float: left;
  margin-bottom: 2rem;
  ul{
    @include padding-left_and_right(0.5rem,1rem);
  }
}
.personal-texts{
  width: 50%;
  float: left;
}
.personal-img{
  width: 47%;
  float: right;
}